@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --background-color: #ecf0f1; /* Light Grey */
  --text-color: #333; /* Dark Grey */

  --font-family: "Helvetica", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
